@import "tailwindcss";

:root {
  --font-outfit: 'Outfit', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --color-primary: #9B5DE5;     /* Electric Purple */
  --color-dark: #1E293B;        /* Dark Slate */
  --color-accent: #FEE440;      /* Vibrant Yellow */
  --color-mint: #00F5D4;        /* Mint Green */
  --color-bg-light: #FAFAFA;    /* Light Background */
}

body {
  font-family: var(--font-rubik);
  background-color: var(--color-bg-light);
  color: var(--color-dark);
}

h1, h2, h3 {
  font-family: var(--font-outfit);
  color: var(--color-primary);
}

button {
  /*background-color: var(--color-mint);*/
  color: var(--color-dark);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-accent);
}
